<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Results</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #dcdcdc;
        }
        .thumbnail {
            float: right;
            margin: 0 0 10px 10px;
            max-height: 200px;
            width: auto;
        }
        .container {
            padding-bottom: 50px;
        }
        .list-group-item {
            background-color: #eeeeee;
            border: 1px solid #d0d0d0;
        }
        footer {
            background-color: #dcdcdc;
            color: #333333;
            text-align: center;
        }
        .card:hover {
            background-color: #eeeeee;
            transition: background-color 0.3s;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Results for "<%= searchQuery %>"</h1>
        <form action="/search" method="POST" class="form-inline justify-content-center mt-4">
            <div class="form-group">
                <input type="text" name="query" class="form-control mr-2" placeholder="Search Wikipedia" required>
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
        <ul class="list-group mt-4">
            <% searchResults.forEach(result => { %>
                <li class="list-group-item">
                    <% if (result.thumbnail) { %>
                        <img src="<%= result.thumbnail %>" class="thumbnail" alt="<%= result.title %> thumbnail">
                    <% } %>
                    <h4><a href="https://en.wikipedia.org/wiki/<%= result.title.replace(/ /g, '_') %>" target="_blank"><%= result.title %></a></h4>
                    <p><%= result.summary %></p>
                </li>
            <% }) %>
        </ul>
        <div class="text-center mt-4">
            <a href="/" class="btn btn-secondary">Back to home page</a>
        </div>
    </div>
    <footer>
        <div class="container">
            <p>Powered by Wikipedia API</p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
